@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #000000;
    --color-secondary: #323232;
    --color-yellow: #F7EC38;
    --color-red: #DE4D38;
    --color-blue: #c026d3;
    --color-brown: #894C43;
    --color-green: #7CB456;
    --color-white: #FEFEFE;
  }

  body {
    @apply antialiased bg-[#000000];
  }
}

@layer utilities {
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient 8s linear infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

.feedbackBtn{
  border: 1px solid #FEFEFE;
  border-radius: 5px;
  padding: 1rem;
  color: #000;
  background-color: #e2e2e2;
}